@model AllInvoicesQueryModel

@{
    ViewData["Title"] = "All invoices";
}

<h4 class="heading-margin text-center">All invoices</h4>
<div class="row col-md-4 offset-md-4 ">
    <p class="text-justify">
        <span class="text-info font-weight-bold">Additional information: </span>
        In table below are listed invoices which are only in Pending and Active state for current active hotel. 
        Search feature is working over Invoice reservation name, status and paid fields.
    </p>
</div>
<form method="get">
    <div class="row">
        <div class="form-group form-group col-md-3 offset-md-4">
            <label></label>
            <input class="form-control" id="searchField" asp-for="@Model.Search" />
        </div>
        <div class="form-group col-md-3 mt-1 ml-4">
            <input type="submit" class="btn btn-md btn-success heading-margin" id="searchBtn" value="Search" />
        </div>
    </div>
</form>
<div class="row col-12 justify-content-center">
    <div class="border col-2 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Invoices for reservation
    </div>
    <div class="border col-1 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Status
    </div>
    <div class="border col-1 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Price
    </div>
    <div class="border font-weight-bold col-1 text-center bg-primary text-white" style="word-wrap:break-word">
        Paid
    </div>
    <div class="border font-weight-bold col-1 text-center bg-primary text-white" style="word-wrap:break-word">
        Details
    </div>

    @foreach (var invoice in Model.Invoices)
    {
        <div class="row col-12 justify-content-center">
            <div class="border col-2 text-center bg-light" style="word-wrap:break-word">
                @invoice.Name
            </div>
            <div class="border col-1 text-center bg-light" style="word-wrap:break-word">
                @invoice.Status
            </div>
            <div class="border col-1 text-center bg-light" style="word-wrap:break-word">
                @invoice.Price
            </div>
            <div class="border col-1 text-center bg-light" style="word-wrap:break-word">
                @invoice.Paid
            </div>
            <div class="border col-1 text-center bg-light" style="word-wrap:break-word">
                <a class="btn btn-sm btn-warning" asp-route-id="@invoice.Id" asp-controller="Invoices" asp-action="Details">Details</a>
            </div>
        </div>
    }
</div>
@{
    Model.NextPage = Model.CurrentPage + 1;
    Model.PreviousPage = Model.CurrentPage - 1;
}

<nav>
    <ul class="pagination justify-content-center mt-5">
        @if (Model.CurrentPage <= 1)
        {
            <li class="page-item disabled">
                <a class="page-link disableCursor" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" tabindex="-1"
                   asp-controller="Invoices" asp-action="All" asp-route-CurrentPage="@Model.PreviousPage" asp-route-Search="@Model.Search">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li class="page-item active">
                    <a class="page-link">@i<span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-CurrentPage="@i"
                       asp-controller="Invoices" asp-action="All" asp-route-Search="@Model.Search">@i</a>
                </li>
            }
        }

        @if (Model.CurrentPage == Model.TotalPages || Model.TotalPages == 0)
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Invoices" asp-action="All"
                   asp-route-NextPage="@Model.NextPage" asp-route-CurrentPage="@Model.NextPage" asp-route-Search="@Model.Search">Next</a>
            </li>
        }
    </ul>
</nav>