@model IEnumerable<ListRoomTypeViewModel>

@{
    ViewData["Title"] = "All room types";
}

<div class="row row ml-xl-4 justify-content-md-center">
    <h4 class="heading-margin text-center mt-5">All room types</h4>
    @foreach (var roomType in @Model)
    {
        <div class="card col-md-12 col-sm-12 col-12 col-lg-12 col-xl-3 ml-xl-5" style="width: 18rem;">
            <img src="@roomType.Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@roomType.Name</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: @roomType.Price</li>
                <li class="list-group-item">Number of beds: @roomType.NumberOfBeds</li>
                <li class="list-group-item">Room count: @roomType.RoomsCount</li>
            </ul>
            <div class="card-body col-md-12">
                <a class="btn-warning btn-sm col-md-3 offset-md-2" asp-controller="RoomTypes" asp-action="Edit" asp-route-id="@roomType.Id">Edit</a>
                <a class="btn-danger btn-sm col-md-3 offset-md-2" asp-controller="RoomTypes" asp-action="Delete" asp-route-id="@roomType.Id">Delete</a>
            </div>
        </div>
    }

    <div class="row justify-content-left">
    <a class="btn btn-success col-md-2 offset-md-5 heading-margin" asp-controller="RoomTypes" asp-action="Add">Add Room type</a>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

