@model EditGuestFormModel

@{
    ViewData["Title"] = "Edit customer";
}

<div class="row col-md-8 offset-md-2 col-sm-12">
    <h4 class="heading-margin text-center">Edit customer</h4>
    <form method="post">
        <div class="row col-md-6 offset-md-3 ">
            <p class="text-justify">
                <span class="text-warning font-weight-bold">Warning: </span>If you try to change the identity card id to another existing in the system, the
                system will reject request!
            </p>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control">
                <span asp-validation-for="@Model.FirstName" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control">
                <span asp-validation-for="@Model.LastName" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.IdentityCardId"></label>
                <input asp-for="@Model.IdentityCardId" class="form-control">
                <span asp-validation-for="@Model.IdentityCardId" class="text-danger small"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control">
                <span asp-validation-for="@Model.Email" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Phone"></label>
                <input asp-for="@Model.Phone" class="form-control">
                <span asp-validation-for="@Model.Phone" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4" disabled>
                <label asp-for="@Model.Address"></label>
                <input asp-for="@Model.Address" class="form-control">
                <span asp-validation-for="@Model.Address" class="text-danger small"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.RankId"></label>
                <select asp-for="@Model.RankId" class="form-control">
                    @foreach (var rank in Model.Ranks)
                    {
                        if (Model.RankId != null && rank.Id == Model.RankId)
                        {
                            <option value="@rank.Id" selected>@rank.Name</option>
                        }
                        else
                        {
                            <option value="@rank.Id">@rank.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.RankId" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CountryId"></label>
                <select asp-for="@Model.CountryId" class="form-control" id="country">
                    @foreach (var country in Model.Countries)
                    {
                        if (Model.CountryId != null && Model.CountryId == country.Id)
                        {
                            <option value="@country.Id" selected>@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.Id">@country.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="@Model.CountryId" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CityId"></label>
                <select asp-for="@Model.CityId" class="form-control" id="city">
                </select>
                <span asp-validation-for="@Model.CityId" class="text-danger small"></span>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-4 offset-md-4">
                <label asp-for="@Model.Details"></label>
                <textarea asp-for="@Model.Details" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="row editGuestBtn">
            <div class="form-group form-group col-md-6 offset-md-3 mt-5">
                <div class="col-md-8 offset-md-3">
                    <input type="submit" class="btn btn-success btn-lg ml-5 col-md-4 col-sm-12" asp-route-id="@Model.Id" asp-controller="Guests" asp-action="Edit" value="Save" />
                </div>
            </div>
        </div>
        <input type="hidden" id="cityId" value="@Model.CityId">
    </form>
</div>

@section Scripts
{
    <script>
        window.onload = (event) => {

            if (document.getElementById("country") !== null) {


                const cId = document.getElementById("country").value;

                async function getData(countryId) {
                    const url = '/api/cities?countryId=' + countryId;

                    const response = await fetch(url, {
                        method: 'GET',
                        mode: 'cors',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    });

                    let result = await response.json();

                    const citySelect = document.getElementById('city');

                    const cId = document.getElementById('cityId').value;

                    result.forEach(function (c) {
                        const newOption = document.createElement('option');
                        newOption.value = c.id;
                        newOption.label = c.name;
                        if (cId.length > 0 && c.id == cId) {
                            newOption.selected = true;
                        }
                        citySelect.appendChild(newOption);
                    });
                }

                getData(cId);

                function cleanOptions() {
                    const citySelect = document.getElementById('city');

                    while (citySelect.firstChild) {
                        citySelect.removeChild(citySelect.firstChild);
                    }
                }

                const countrySelect = document.getElementById("country");
                countrySelect.addEventListener('change', function () {
                    const currentCountryId = document.getElementById("country").value;
                    cleanOptions();
                    getData(currentCountryId)
                });
            }
        };
    </script>
}