@model ListRoomsQueryModel

@{
    ViewData["Title"] = "All rooms";
}

<h4 class="heading-margin text-center">All rooms</h4>
<form method="get">
    <div class="row">
        <div class="form-group form-group col-md-3 offset-md-4">
            <label></label>
            <input class="form-control" id="searchField" asp-for="@Model.Search">
        </div>
        <div class="form-group col-md-3 mt-1 ml-4">
            <input type="submit" class="btn btn-md btn-success heading-margin" id="searchBtn" value="Search" />
        </div>
    </div>
</form>
<div class="row col-8 offset-3">
    <div class="border col-4 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Room number
    </div>
    <div class="border col-2 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Room type
    </div>
    <div class="border font-weight-bold col-2 text-center bg-primary text-white" style="word-wrap:break-word">
        Details
    </div>
</div>
@foreach (var room in Model.Rooms)
{
    <div class="row col-8 offset-3">
        <div class="border col-4 text-center bg-light" style="word-wrap:break-word">
            @room.RoomNumber
        </div>
        <div class="border col-2 text-center bg-light" style="word-wrap:break-word">
            @room.RoomType
        </div>
        <div class="border col-2 text-center bg-light text-decoration-none" style="word-wrap:break-word">
            <a asp-route-id="@room.Id" asp-controller="Rooms" asp-action="Details">Details</a>
        </div>
    </div>
}

@{
    Model.NextPage = Model.CurrentPage + 1;
    Model.PreviousPage = Model.CurrentPage - 1;
}

<nav aria-label="...">
    <ul class="pagination justify-content-center mt-5">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link disableCursor" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" tabindex="-1"
                   asp-controller="Rooms" asp-action="All" asp-route-CurrentPage="@Model.PreviousPage">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalItems; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li class="page-item active">
                    <a class="page-link" href="#">@i<span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-CurrentPage="@i"
                       asp-controller="Rooms" asp-action="All">@i</a>
                </li>
            }
        }

        @if (Model.CurrentPage == Model.TotalItems)
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Rooms" asp-action="All"
                   asp-route-NextPage="@Model.NextPage" asp-route-CurrentPage="@Model.NextPage">Next</a>
            </li>
        }
    </ul>
</nav>
<a class="btn btn-success col-md-2 offset-md-5  col-sm-2 offset-sm-5 heading-margin" asp-controller="Rooms" asp-action="Add">Add room</a>

